<div id="content_wrapper" class="fullWidth2-wrapper">

    <md-sidenav-container class="sidenav-container">
        <div class="content" *ngIf="user">
            <header class="header-wrapper header-sm shadow-none">
                <h1>
                    <i [hidden]="!loading" class="zmdi zmdi-spinner zmdi-hc-spin"></i>
                    {{user.full_name}}
                </h1>
            </header>
            <tabset class="tabpanel tab-header">
                <tab heading="Overview">
                    <div class="content-body">
                        <pre>
                            {{user | json}}
                        </pre>
                    </div>
                </tab>
                <tab heading="Properties">
                    <div class="content-body">

                    </div>
                </tab>
                <tab heading="Offers">
                    <div class="content-body">

                    </div>
                </tab>
                <tab heading="Viewings">
                    <div class="content-body">

                    </div>
                </tab>
            </tabset>
        </div>

        <footer id="footer_wrapper" class="footer_wrapper"></footer>

    </md-sidenav-container>

</div>

