<nav role="navigation" class="navbar">

    <ul class="navbar-nav nav-left">
        <li class="nav-item hidden-sm">
            <a md-ripple href="javascript:void(0)" (click)="toggleAppMobileLeftMenuSidebar()"
               class="nav-link mobile-menu-trigger">
                <i class="mdi mdi-backburger"></i>
            </a>
        </li>
        <li class="nav-item dropdown hidden-sm-down" dropdown>
            <a md-ripple href="javascript:void(0)" class="nav-link" dropdownToggle><i class="zmdi zmdi-plus"></i></a>
            <ul class="dropdown-menu btn-accent dropdown-menu-left" *dropdownMenu>
                <!-- todo: get all services with add, load icons from it too-->
                <li><a href="javascript:void(0)"><i class="zmdi zmdi zmdi-city-alt"></i> Property</a></li>
                <li><a href="javascript:void(0)"><i class="zmdi zmdi-store"></i> Agent</a></li>
                <li><a href="javascript:void(0)"><i class="zmdi zmdi-accounts-list"></i> User</a></li>
                <li><a href="javascript:void(0)"><i class="zmdi zmdi-calendar"></i> Appointment</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a md-ripple href="javascript:void(0)" (click)="search.searchStatus = true" class="nav-link">
                <i class="zmdi zmdi-search"></i>
            </a>
        </li>
    </ul>
    <ul class="navbar-nav nav-center">
        <topbar-impersonate class="m-t-n-20 impersonate"></topbar-impersonate>
    </ul>
    <ul class="navbar-nav nav-right">

        <li class="nav-item" *ngIf="loading">
            <a md-ripple href="javascript:void(0)" (click)="search.searchStatus = true" class="nav-link">
                <i class="zmdi zmdi-spinner zmdi-hc-spin"></i>
            </a>
        </li>
        <li class="nav-item dropdown avatar-menu hidden-sm-down" *ngIf="loggedInUser && !loading" dropdown>
            <a md-ripple href="javascript:void(0)" class="nav-link" dropdownToggle>
				<span class="meta">
					<span class="avatar">
						<img *ngIf="loggedInUser.avatar" src="{{loggedInUser.avatar}}" alt=""
                             class="img-circle max-w-35">
                        <ngu-letter-avatar *ngIf="!loggedInUser.avatar" avatar-data={{loggedInUser.full_name}}
                                           [avatar-char-count]="2"
                                           [avatar-font-size]="14" [avatar-height]="36"
                                           [avatar-width]="36">
                        </ngu-letter-avatar>
						<i class="badge mini success status"></i>
					</span>

					<span class="name">{{loggedInUser.full_name}}</span>
					<span class="caret"></span>
				</span>
            </a>
            <ul class="dropdown-menu btn-accent dropdown-menu-right" *dropdownMenu>
                <li>
                    <a href="javascript:void(0)" [routerLink]="['/profile']"><i class="zmdi zmdi-account"></i>
                        Profile</a>
                </li>
                <li>
                    <a href="javascript:void(0)" [routerLink]="['/mail']"><i class="zmdi zmdi-email"></i> Messages</a>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="zmdi zmdi-settings"></i> Account Settings</a>
                </li>
                <li>
                    <a href="/login"><i class="zmdi zmdi-sign-in"></i> Sign Out</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a md-ripple href="javascript:void(0)" class="nav-link">
                <i *ngIf="loading" class="zmdi zmdi-notifications zmdi-hc-fw"></i>
                <!--<span *ngIf="!loading" class="icon-orange">-->
                    <!--<i class="zmdi zmdi-notifications-active animated infinite tada zmdi-hc-fw"></i>-->
                <!--</span>-->
                <i *ngIf="!loading" class="zmdi zmdi-notifications zmdi-hc-fw"></i>
            </a>
        </li>
        <li class="nav-item">
            <a md-ripple href="javascript:void(0)" (click)="toggleAppRightSidebar()" class="nav-link">
                <i [ngClass]="{'mdi-playlist-minus': false, 'mdi-playlist-plus': true}" class="mdi"></i>
            </a>
        </li>
    </ul>
</nav>

<topbar-search #search></topbar-search>