<div id="content_wrapper" class="detachedToolbarRight-wrapper">
    <div class="content">
        <header class="header-wrapper header-md overlay">
             <h1 class="text-white">Add Property</h1>
        </header>
        <div class="content-body container-fluid">
            <div class="row row-eq-height flex-card">
                <div class="col-md-8">
                    <div class="card form-wizard-wrapper">
                        <form-wizard>
                            <wizard-step [title]="'Client'" (onNext)="onStep1Next($event)">
                                <section class="content-container">
                                    <h1>Client</h1>

                                    <form novalidate #stepOne [formGroup]="myForm" class="form-horizontal">

                                        <div class="row">
                                            <div class="col-xl">

                                                <div class="form-group row">
                                                    <p>Add property to existing client</p>
                                                    <div class="col-10">
                                                        <md-radio-group formControlName="newClient" class="radio-group">
                                                            <md-radio-button value="0" class="radio-button">
                                                                Yes
                                                            </md-radio-button>
                                                            <md-radio-button  value="1" class="radio-button">
                                                                No
                                                            </md-radio-button>
                                                        </md-radio-group>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xl">

                                                <fieldset formGroupName="newClientGroup">

                                                    <p>Add new client</p>
                                                    <div class="form-group row">
                                                        <div class="col-10">
                                                            <md-input-container floatPlaceholder="auto" class="float-auto">
                                                                <input mdInput class="form-control" type="text" name="name"  formControlName="firstName" placeholder="First Name">
                                                            </md-input-container>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-10">
                                                            <md-input-container floatPlaceholder="auto" class="float-auto">
                                                                <input mdInput class="form-control" type="text" name="name"  formControlName="lastName" placeholder="Last Name">
                                                            </md-input-container>
                                                        </div>
                                                    </div>


                                                </fieldset>

                                            </div>
                                        </div>

                                    </form>

                                </section>
                            </wizard-step>
                            <wizard-step [title]="'Address'" (onNext)="onStep2Next($event)">
                                <section class="content-container">
                                    <h1>Property Address</h1>

                                    <form novalidate #stepTwo [formGroup]="myForm" class="form-horizontal">

                                        <div class="form-group row">
                                            <div class="col-10">
                                                <md-input-container floatPlaceholder="auto" class="float-auto">
                                                    <input mdInput class="form-control" type="email" name="email" id="email" formControlName="email" placeholder="@email.com">
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-10">
                                                <md-select class="block m-t-20" placeholder="Select your language" formControlName="language">
                                                    <md-option>None</md-option>
                                                    <md-option *ngFor="let lang of language" [value]="lang">
                                                        {{ lang }}
                                                    </md-option>
                                                </md-select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <md-form-field class="demo-full-width">
                                                <input mdInput #postalCode maxLength="5" placeholder="Postal Code"
                                                       value="94043"
                                                       pattern="[0-9]{5}">
                                                <md-hint align="end">
                                                    <md-icon>mode_edit</md-icon>
                                                    <span aria-live="polite">{{postalCode.value.length}} / 5</span>
                                                </md-hint>
                                            </md-form-field>
                                        </div>

                                        <div class="form-group row">
                                            <md-form-field class="demo-full-width">
                                                <input mdInput placeholder="State" maxLength="2" value="CA">
                                            </md-form-field>
                                        </div>

                                    </form>

                                </section>
                            </wizard-step>
                            <wizard-step [title]="'Details'" (onComplete)="onComplete($event)">
                                <section class="content-container">
                                    <h1>Property Details</h1>

                                    <div class="form-group row">
                                        <md-form-field class="demo-text-align-end">
                                            <input mdInput placeholder="amount">
                                            <span mdPrefix>$&nbsp;</span>
                                            <span mdSuffix>.00</span>
                                        </md-form-field>
                                    </div>

                                    <div class="form-group row">
                                        <md-form-field class="demo-full-width">
                                            <input mdInput
                                                   #characterCountInputHintExample
                                                   placeholder="Character count (100 max)"
                                                   maxLength="100"
                                                   value="Hello world. How are you?">
                                            <md-hint align="end" aria-live="polite">
                                                {{characterCountInputHintExample.value.length}} / 100
                                            </md-hint>
                                        </md-form-field>
                                    </div>

                                    <div class="form-group row">
                                        <md-form-field class="demo-full-width">
                                                    <textarea mdInput #characterCountTextareaHintExample
                                                              placeholder="Character count (100 max)" maxLength="100">
                                                        Hello world. How are you?
                                                    </textarea>
                                            <md-hint align="end" aria-live="polite">
                                                {{characterCountTextareaHintExample.value.length}} / 100
                                            </md-hint>
                                        </md-form-field>
                                    </div>

                                </section>
                            </wizard-step>
                            <wizard-step [title]="'Photos'" (onComplete)="onComplete($event)">
                                <section class="content-container">
                                    <div [ngSwitch]="isCompleted">
                                        <div *ngSwitchDefault>
                                            <h1>Property Photos</h1>

                                            <form novalidate #stepThree [formGroup]="myForm" class="form-horizontal">
                                                <fieldset formGroupName="address">

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label text-right" for="addressOne">Address One:</label>
                                                        <div class="col-10">
                                                            <md-input-container floatPlaceholder="auto" class="float-auto">
                                                                <input mdInput class="form-control" type="text" name="addressOne" id="addressOne" formControlName="addressOne" placeholder="Address One">
                                                            </md-input-container>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label text-right" for="addressTwo">Address Two:</label>
                                                        <div class="col-10">
                                                            <md-input-container floatPlaceholder="auto" class="float-auto">
                                                                <input mdInput class="form-control" type="text" name="addressTwo" id="addressTwo" formControlName="addressTwo" placeholder="Address Two">
                                                            </md-input-container>
                                                        </div>
                                                    </div>
                                                </fieldset>

                                                <div class="form-group row">
                                                    <label class="col-2 col-form-label text-right" for="city">City:</label>
                                                    <div class="col-10">
                                                        <md-input-container floatPlaceholder="auto" class="float-auto">
                                                            <input mdInput class="form-control" type="text" name="city" id="city" formControlName="city" placeholder="City">
                                                        </md-input-container>
                                                    </div>
                                                </div>

                                            </form>

                                        </div>
                                        <div *ngSwitchCase="true">
                                            <h4>Thank you! You have completed all the steps.</h4>
                                        </div>
                                    </div>
                                </section>
                            </wizard-step>
                        </form-wizard>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-title">Result</h2>
                        </header>
                        <div class="card-block">
							<pre>
								{{myForm.value | json}}
							</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
