<div id="login_wrapper">
    <div class="logo">
        <img src="assets/img/logo/logo-icon@2x.png" alt="logo" class="logo-img">
    </div>
    <div id="login_content" *ngIf="user">

        <header>
            <h1 class="login-title m-b-20">
                Your session is locked
            </h1>
        </header>

        <figure class="text-center m-b-20">
            <img [src]="'image_data/' + user.avatar" alt="" class="rounded-circle max-w-100">
            <span class="icon-locked"><i class="zmdi zmdi-lock"></i></span>
        </figure>

        <p class="text-center">
            Due to inactivity your session has timed out, please enter your password to continue.
        </p>

        <div class="login-body">

            <alert type="danger" *ngIf="error" dismissible="true">
                {{error}}
            </alert>

            <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm"
                  autocomplete="off" novalidate>
                <div class="form-group row">
                    <label class="sr-only">Email: </label>
                    <div class="col-md">
                        <md-input-container floatPlaceholder="auto" class="float-auto" style="width: 100%">
                            <input mdInput placeholder="Email (disabled)" class="form-control" type="email" disabled>
                        </md-input-container>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label class="sr-only">Password: </label>
                    <div class="col-md">
                        <md-input-container floatPlaceholder="auto" class="float-auto" style="width: 100%">
                            <input mdInput [disabled]="loading" placeholder="Password" class="form-control"
                                   type="password" name="password"
                                   [(ngModel)]="model.password" #password="ngModel" autocomplete="off" required>
                            <!--<md-icon mdPrefix>lock</md-icon>-->
                            <md-error>Please provide a password.</md-error>
                        </md-input-container>
                    </div>
                </div>

                <a href="javascript:void(0)" [routerLink]="['/login']" class="font-size-12 float-right"
                   data-toggle="register">Not {{user.full_name}}? </a>

                <button [disabled]="loading" class="btn btn-primary btn-block m-t-40">
                    <i *ngIf="loading" class="zmdi zmdi-spinner zmdi-hc-spin"></i> <span *ngIf="!loading">Unlock</span>
                </button>
            </form>
        </div>
    </div>
</div>
