<div class="sidebar-inner sidebar-overlay">
    <md-tab-group class="sidebar-right-tab-group">
        <md-tab label="Chat">
            <div class="tab-content" malihu-scrollbar [scrollbarOptions]="DarkScrollbar">
                <ul class="description">
                    <li class="title">
                        Online
                    </li>
                </ul>
                <ul class="list-group p-0" *ngIf="users">

                    <span *ngFor="let user of users">
                        <li class="list-group-item" data-chat="open" data-chat-name="user.full_name"
                            *ngIf="user.online_now">
                            <span class="float-left">
                                <img *ngIf="user.avatar" [src]="'image_data/' + user.avatar"
                                     class="rounded-circle max-w-40 m-r-10 ">
                                <ngu-letter-avatar *ngIf="!user.avatar" avatar-data={{user.full_name}}
                                                   [avatar-char-count]="2"
                                                   avatar-shape="round"
                                                   [avatar-height]="40"
                                                   [avatar-width]="40"
                                                   [avatar-font-size]="16" class="rounded-circle max-w-40 m-r-10 ">
                                </ngu-letter-avatar>
                            </span>
                            <i class="badge mini success status"></i>
                            <div class="list-group-item-body">
                                <div class="list-group-item-heading">{{user.full_name}}</div>
                                <div class="list-group-item-text">{{user.last_online | amTimeAgo}}</div>
                            </div>
                        </li>
                    </span>


                </ul>
                <ul class="description">
                    <li class="title">
                        Offline
                    </li>
                </ul>
                <ul class="list-group p-0">

                    <span *ngFor="let user of users">
                        <li class="list-group-item" data-chat="open" data-chat-name="user.full_name"
                            *ngIf="!user.online_now">
                            <span class="float-left">
                                <img *ngIf="user.avatar" [src]="'image_data/' + user.avatar"
                                     class="rounded-circle max-w-40 m-r-10 ">
                                <ngu-letter-avatar *ngIf="!user.avatar" avatar-data={{user.full_name}}
                                                   [avatar-char-count]="2"
                                                   avatar-shape="round"
                                                   [avatar-height]="40"
                                                   [avatar-width]="40"
                                                   [avatar-font-size]="16" class="rounded-circle max-w-40 m-r-10 ">
                                </ngu-letter-avatar>
                            </span>
                            <i class="badge mini danger status"></i>
                            <div class="list-group-item-body">
                                <div class="list-group-item-heading">{{user.full_name}}</div>
                                <div class="list-group-item-text">{{user.office}} Office</div>
                            </div>
                        </li>
                    </span>


                </ul>
            </div>
        </md-tab>
        <md-tab label="Activity">
            <div class="sidebar-timeline" malihu-scrollbar [scrollbarOptions]="DarkScrollbar">

                <div class="time-item" *ngFor="let activity of activities">
                    <div class="item-info">
                        <small class="text-muted">{{activity.datetime | amTimeAgo}}</small>
                        <p><a href="#" class="accent">{{activity.user_name}}</a> {{activity.action_name}}
                            {{activity.action_category}}</p>
                    </div>
                </div>

            </div>
        </md-tab>
    </md-tab-group>
</div>
