<div id="content_wrapper" class="fullWidth2-wrapper">

    <md-sidenav-container class="sidenav-container">
        <div class="content">
            <header class="header-wrapper header-sm shadow-none">
                <h1>{{title}}</h1>
            </header>
            <tabset class="tabpanel tab-header">
                <tab heading="Overview">
                    <div class="content-body">

                        <div class="row">

                            <div class="col">
                                <div class="card">
                                    <header class="card-header">
                                        <h2 class="card-title"><i class="zmdi zmdi zmdi-city-alt"></i> Properties</h2>
                                    </header>
                                    <div class="card-block">

                                        <md-tab-group class="demo-tab-group">
                                            <md-tab label="New">
                                                <div class="tab-content p-20">
                                                    <ul>
                                                        <li>New Address</li>
                                                    </ul>
                                                </div>
                                            </md-tab>
                                            <md-tab label="Openend">
                                                <div class="tab-content p-20">
                                                    <ul>
                                                        <li>Opened Address</li>
                                                    </ul>
                                                </div>
                                            </md-tab>
                                            <md-tab label="Changed">
                                                <div class="tab-content p-20">
                                                    <ul>
                                                        <li>Changed Address</li>
                                                    </ul>
                                                </div>
                                            </md-tab>
                                            <md-tab label="Sold">
                                                <div class="tab-content p-20">
                                                    <ul>
                                                        <li>Sold Address</li>
                                                    </ul>
                                                </div>
                                            </md-tab>
                                        </md-tab-group>

                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card">
                                    <header class="card-header">
                                        <h2 class="card-title"><i class="zmdi zmdi-chart"></i> New/Sold</h2>
                                    </header>
                                    <div class="card-block">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </tab>
                <tab heading="Activity">
                    <div class="content-body">

                    </div>
                </tab>
                <tab heading="Timeline">
                    <div class="content-body">

                    </div>
                </tab>
                <tab heading="Map">
                    <div class="content-body">

                    </div>
                </tab>
            </tabset>
        </div>

        <footer id="footer_wrapper" class="footer_wrapper"></footer>

    </md-sidenav-container>

</div>

