<!-- begin::Quick Sidebar -->
<div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light" appunwraptag="">
    <div class="m-quick-sidebar__content m--hide">
		<span id="m_quick_sidebar_close" class="m-quick-sidebar__close">
			<i class="la la-close"></i>
		</span>
        <ul id="m_quick_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_quick_sidebar_tabs_users"
                   role="tab">
                    Users
                </a>
            </li>
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_messenger"
                   role="tab">
                    Messages
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active m-scrollable" id="m_quick_sidebar_tabs_users" role="tabpanel">
                <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">

                </div>
            </div>

            <div class="tab-pane active m-scrollable" id="m_quick_sidebar_tabs_messenger" role="tabpanel">
                <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                    <div class="m-messenger__messages">


                        <div *ngFor="let item of conversation" class="m-messenger__message" [ngClass]="[(item.author.id === user.id)? 'm-messenger__message--out': 'm-messenger__message--in']">
                            <div  *ngIf="item.author.id !== user.id" class="m-messenger__message-pic">
                            <img [src]="'./assets/app/image_data/' + item.author.avatar"/>
                            </div>
                            <!--<div *ngIf="item.author.id !== user.id" class="m-messenger__message-no-pic m&#45;&#45;bg-fill-danger">-->
								<!--<span>-->
									<!--M-->
								<!--</span>-->
                            <!--</div>-->
                            <div class="m-messenger__message-body">
                                <div class="m-messenger__message-arrow"></div>
                                <div class="m-messenger__message-content">
                                    <div *ngIf="item.author.id !== user.id" class="m-messenger__message-username">
                                        {{item.author.first_name}} wrote
                                    </div>
                                    <div class="m-messenger__message-text">
                                        {{item.message}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="m-messenger__datetime">-->
                            <!--2:30PM-->
                        <!--</div>-->

                        <!--(ngModelChange)="typeMessage($event)"-->

                    </div>
                    <div class="m-messenger__seperator"></div>
                    <div class="m-messenger__form">
                        <div class="m-messenger__form-controls">
                            <input [(ngModel)]="message" (keyup.enter)="sendMessage()" type="text" name="" placeholder="Type here..." class="m-messenger__form-input">
                        </div>
                        <div class="m-messenger__form-tools">
                            <a href="#" class="m-messenger__form-attachment" (click)="sendMessage()">
                                <i class="la la-paperclip"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end::Quick Sidebar -->
